[submodule "java"]
	path = java
	url = git://github.com/cstar/java.git
[submodule "ark"]
	path = ark
	url = https://github.com/opscode-cookbooks/ark
[submodule "erlang"]
	path = erlang
	url = git://github.com/cstar/erlang.git
[submodule "elasticsearch"]
	path = elasticsearch
	url = git://github.com/cstar/cookbook-elasticsearch.git
[submodule "aws"]
	path = aws
	url = git://github.com/opscode-cookbooks/aws.git
